## Gavin Trumbull
# assignment 5, eric matthes, 2nd edition, spring 2023
# CS150

In [19]:
translator={'one':'hana',
            'two':'dhul',
            'three':'sehtt',
            'four':'nehtt',
            'five':'da-seut',
            'six':'yeo-seut',
            'seven':'il-gop',
            'eight':'yuh-duel',
            'nine':'ah-hop',
            'ten':'yeol'}
active=True
while active:
    word=input('enter a word to translate from English to Korean (enter 0 to stop): ')
    if word in translator:
        print('the Korean word for',word, 'is', translator[word])
    elif word=='0':
        break
    else:
        print('the Korean word for',word,'is outside this dictionary')

enter a word to translate from English to Korean (enter 0 to stop): one
the Korean word for one is hana
enter a word to translate from English to Korean (enter 0 to stop): eleven
the Korean word for eleven is outside this dictionary
enter a word to translate from English to Korean (enter 0 to stop): 0

In [18]:
Temp_dict={1:56,
           2:45,
           3:63,
           4:57,
           5:46,
           6:43,
           7:46,
           8:43,
           9:45,
           10:50,
           11:54,
           12:55,
           13:37,
           14:36,
           15:39,
           16:45,
           17:59,
           18:46,
           19:55,
           20:37,
           21:36,
           22:36,
           23:37,
           24:43,
           25:41,
           26:36,
           27:37,
           28:54,
           29:46,
           30:36,
           31:28}
for i,j in Temp_dict.items():
    Temp_dict.update({i:(j-32)*9/5})
print(Temp_dict)

{1: 43.2, 2: 23.4, 3: 55.8, 4: 45.0, 5: 25.2, 6: 19.8, 7: 25.2, 8: 19.8, 9: 23.4, 10: 32.4, 11: 39.6, 12: 41.4, 13: 9.0, 14: 7.2, 15: 12.6, 16: 23.4, 17: 48.6, 18: 25.2, 19: 41.4, 20: 9.0, 21: 7.2, 22: 7.2, 23: 9.0, 24: 19.8, 25: 16.2, 26: 7.2, 27: 9.0, 28: 39.6, 29: 25.2, 30: 7.2, 31: -7.2}

In [12]:
Dict={}
for i in range(1,16):
    Dict[i]=i**2
print(Dict)

{1: 1, 2: 4, 3: 9, 4: 16, 5: 25, 6: 36, 7: 49, 8: 64, 9: 81, 10: 100, 11: 121, 12: 144, 13: 169, 14: 196, 15: 225}